/* big tablet to 1200px (widths smaller than the 1140px row) */

@media only screen and ( max-width: 1360px ) {
    .btn-group .space {
        width: 120px;
    }

}

@media only screen and (max-width: 1250px) {
     .btn-group .space {
        width: 50px;
    }
}





/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    .btn-group .space {
        width: 100px;
    }
    .btn-group .m { display: none; }
}
@media only screen and (max-width: 1135px) {

    .btn-group .a,
    .btn-group .b,
    .btn-group .c,
    .btn-group .d,
    .btn-group .e,
    .btn-group .f,
    .btn-group .g,
    .btn-group .h,
    .btn-group .i,
    .btn-group .j,
    .btn-group .l,
    .btn-group .n,
    .btn-group .o {
        font-size: 80%;
        padding: 15px 10px;
    }
}   

@media only screen and (max-width: 1088px) {
    .btn-group .space {
        width: 50px;
    }
}

@media only screen and (max-width: 1040px) {
    .btn-group .space {
        width: 25px;
    }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    .header h1 {
        font-size: 180%;
    }
    .btn-group .k,

    .btn-group .a,
    .btn-group .b,
    .btn-group .c,
    .btn-group .d,
    .btn-group .e,
    .btn-group .f,
    .btn-group .g,
    .btn-group .h,
    .btn-group .i,
    .btn-group .j,
    .btn-group .l,
    .btn-group .n,
    .btn-group .o {
        font-size: 80%;
        padding: 15px 10px;
    }
    
    .search-house { width: 50%; }

    #search {
        width: 50%;
        padding: 5px 7px;
    }
    .comments a {
        text-align: center;
        font-size: 70%;
        
    }
    blockquote,
    .comments p  {
        font-size: 90%;
        margin-top: 50px;
    }
    .description {
        padding-left: 0;
        padding-right: 0;
    }
    label {
        padding-left: 0;
        
    }


}

@media only screen and (max-width: 1012px) {
    .btn-group .space {
        width: 50px;
    }
    .btn-group .i,
    .btn-group .m { display: none; }
    .btn-group .a,
    .btn-group .b,
    .btn-group .c,
    .btn-group .d,
    .btn-group .e,
    .btn-group .f,
    .btn-group .g,
    .btn-group .h,
    .btn-group .i,
    .btn-group .j,
    .btn-group .l,
    .btn-group .n,
    .btn-group .o {
        font-size: 80%;
        padding: 15px 8px;
    }
}

@media only screen and (max-width: 955px) {
    .btn-group .space {
        width: 25px;
    }
    .btn-group .a,
    .btn-group .b,
    .btn-group .c,
    .btn-group .d,
    .btn-group .e,
    .btn-group .f,
    .btn-group .g,
    .btn-group .h,
    .btn-group .i,
    .btn-group .j,
    .btn-group .l,
    .btn-group .n,
    .btn-group .o {
        font-size: 80%;
        padding: 15px 8px;
    }
}

@media only screen and (max-width: 926px) {
    .btn-group .space {
        display: none;
    }
    .btn-group .a,
    .btn-group .b,
    .btn-group .c,
    .btn-group .d,
    .btn-group .e,
    .btn-group .f,
    .btn-group .g,
    .btn-group .h,
    .btn-group .i,
    .btn-group .j,
    .btn-group .l,
    .btn-group .n,
    .btn-group .o {
        font-size: 80%;
        padding: 15px 8px;
    }
}

@media only screen and (max-width: 897px) {
    .comments img {
        margin-left: 20px;
    }
    .comments a {
        font-size: 70%;
        vertical-align: 10px;
        margin-left: 2px;
    }

}

@media only screen and (max-width: 855px) {
    
    .btn-group .j,
    .btn-group .m { display: none; }
}

@media only screen and (max-width: 890px) { 
    .btn-group .a,
    .btn-group .b,
    .btn-group .c,
    .btn-group .d,
    .btn-group .e,
    .btn-group .f,
    .btn-group .g,
    .btn-group .h,
    .btn-group .i,
    .btn-group .j,
    .btn-group .l,
    .btn-group .n,
    .btn-group .o {
        font-size: 80%;
        padding: 15px 6px;
    }
}

@media only screen and (max-width: 735px) {
    
    .btn-group .l,
    .btn-group .m { display: none; }

    .btn-group .j {
        display: inherit
    }


    .btn-group .a,
    .btn-group .b,
    .btn-group .c,
    .btn-group .d,
    .btn-group .e,
    .btn-group .f,
    .btn-group .g,
    .btn-group .h,
    .btn-group .i,
    .btn-group .j,
    .btn-group .l,
    .btn-group .n,
    .btn-group .o {
        font-size: 80%;
        padding: 15px 6px;
    }
}

/* Small phones to small tablets: from 500px to 767px */
@media only screen and (max-width: 767px) {
    .header h1 {
        font-size: 150%;
    }

    .btn-group .a,
    .btn-group .b,
    .btn-group .c,
    .btn-group .d,
    .btn-group .e,
    .btn-group .n,
    .btn-group .o {
        font-size: 75%;
        padding: 15px 6px;
    }

    #search {
        width: 60%;
        padding: -4px 0px;
    }
    .aside img {
        margin-top: 10px;
    }
    .aside .long-copy {
        margin-bottom: 20px;
    }
    
    .box {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 5%;
    }
    .box .col-sm-6 {
        max-width: 700%;
    }
    .ability {
        display: flex;
        align-items: baseline;
        justify-content: baseline;
        margin-bottom: 10%;
    }

    .city-details:last-of-type {
        margin-bottom: 10%;
    }
    .sponsor-heading h2,
    .people-heading h2 {
        margin-top: 5%;
    }
    .sponsor-box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sponsor-box .col-sm-6 {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 760px;
    }
    
    .comments img {
        height: 90px;
        width: auto;
        margin-left: 0;
    }
    .comments a {
        text-align: center;
        font-size: 70%;
        
    }
    blockquote,
    .comments p  {
        font-size: 80%;
        margin-top: 50px;
    }

    .main-form {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        margin: 0  0 5% 0%;
    }
    
    .form-field {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }
    .description {
        padding-left: 0;
        padding-right: 0;
    }
    label {
        padding-left: 0;
        
    }

    label,
    input[type=text],
    input[type=email],
    input[type=password],
    select,
    textarea {
        width: 100%;
    }
    .form-field .btn {
        margin-top: 0;
        padding: 8px 15px;
        font-size: 70%;
    }
    
}

@media only screen and (max-width: 676px) {
       
    .btn-group .a,
    .btn-group .b,
    .btn-group .c,
    .btn-group .d,
    .btn-group .e,
    .btn-group .f, .btn-group .g,
    .btn-group .h,
    .btn-group .j,
    .btn-group .n,
    .btn-group .o {
        font-size: 70%;
        padding: 15px 5px;
    }
}
@media only screen and (max-width: 606px) {
    .btn-group .i,
    .btn-group .j,
    .btn-group .k,
    .btn-group .l,
    .btn-group .m { display: none; }
    
    
    .btn-group .g,
    .btn-group .h {
        display: inherit;
    }
    .btn-group .a,
    .btn-group .b,
    .btn-group .c,
    .btn-group .d,
    .btn-group .e,
    .btn-group .f,
    .btn-group .g,
    .btn-group .h,
    .btn-group .n,
    .btn-group .o {
        font-size: 70%;
        padding: 15px 5px;
    }
}

@media only screen and (max-width: 575px) {
        .box-search { display: none; }
    .header { 
        display: flex;
        justify-content:center;
        align-items: center;
        height: 100px;
    }
    .btn-group .i,
    .btn-group .j,
    .btn-group .k,
    .btn-group .l,
    .btn-group .m { display: none; }
    
    
    .btn-group .g,
    .btn-group .h {
        display: inherit;
    }
    .btn-group .a,
    .btn-group .b,
    .btn-group .c,
    .btn-group .d,
    .btn-group .e,
    .btn-group .f,
    .btn-group .g,
    .btn-group .h,
    .btn-group .n,
    .btn-group .o {
        font-size: 65%;
        padding: 15px 5px;
    }
}

/* Small phones: from 0 to 500px */
@media only screen and (max-width: 500px) {
    
.header { 
    display: flex;
    justify-content:center;
    align-items: center;
    height: 150px;
}

    .logo-first {
        height: 150px;
        width: 150px;
        margin: 10% 0 0 0 ;
    }
    .header h1 {
        margin: 0 0;
        padding: 0;
    }

    h1 { font-size: 130%; }
    
    h2 { font-size: 100%; }

    h3 { font-size: 75%; }
       
    .btn-group .i,
    .btn-group .j,
    .btn-group .k,
    .btn-group .l,
    .btn-group .m { display: none; }
    
    
    .btn-group .g,
    .btn-group .h {
        display: inherit;
    }
    .btn-group .a,
    .btn-group .b,
    .btn-group .c,
    .btn-group .d,
    .btn-group .e,
    .btn-group .f,
    .btn-group .g,
    .btn-group .h,
    .btn-group .n,
    .btn-group .o {
        font-size: 65%;
        padding: 15px 3px;
    }
    .box-search { display: none; }

    
    .long-copy {
        font-size: 70%;
        margin-bottom: 10PX;
    }

    .ability {
        display: flex;
        align-items: baseline;
        justify-content: baseline;
        margin-bottom: 10%;
    }
    
    .city-details img { 
        width: 60%;
        height: auto;
        margin: 10px auto;
    }
    
    .city-heading h2 {
        text-align: center;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .section-peoples .people-heading,
    .sponsors .sponsor-heading,
    .workdone-heading{
        text-align: center;
        margin: 10% 0px;
     }
    .team-box ul li a {
        font-size: 60%;
    }

    .comments img {
        height: 50px;
        width: auto;
        margin-right: 10px;
    }
    .comments a {
        font-size: 70%;
        vertical-align: 10px;
        margin-left: 10px;
    }

    blockquote,
    .comments p {
        font-size: 70%;
        font-weight: 600;
        color: rgb(108, 101, 1);
    }
    
    .main-form {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        margin: 0  0 5% 0;
    }
    

    .form-field {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        color: rgb(108, 101, 1);
    }
        
        label,
    input[type=text],
    input[type=email],
    input[type=password],
    select,
    textarea {
        width: 100%;
    }
    .form-field .btn {
        margin-top: 0;
        padding: 5px 10px;
        font-size: 70%;
    }
    


    
        
    

    

   
    


    
    
    
}
