/* big tablet to 1200px (widths smaller than the 1140px row) */

@media screen and ( max-width: 1360px ) {
    .btn-group .space {
        width: 120px;
    }

}

@media screen and (max-width: 1250px) {
     .btn-group .space {
        width: 50px;
    }
}





/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media screen and (max-width: 1200px) {
    .btn-group .space {
        width: 100px;
    }
    .btn-group .m { display: none; }
}
@media screen and (max-width: 1135px) {

}   

@media screen and (max-width: 1088px) {
    .btn-group .space {
        width: 50px;
    }
}

@media screen and (max-width: 1040px) {
    .btn-group .space {
        width: 25px;
    }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media screen and (max-width: 1024px) {
    .header h1 {
        font-size: 180%;
    }
    
    .search-house { width: 50%; }

    #search {
        width: 50%;
        padding: 5px 7px;
    }

    label {
        padding-left: 0;
        
    }


}


/* Small phones to small tablets: from 500px to 767px */
@media screen and (max-width: 768px) {
    .header h1 {
        font-size: 150%;
    }

    .box-nav .navigation .button .fa-bars{
        display: block;
        font-size: 180%;
        margin: 0 15px;
        font-size: 180%;
        top: 0;
        position: sticky;
    }

    .navbar {
        display: none;
    }


    #search {
        width: 60%;
        padding: -4px 0px;
    }
    .aside img {
        margin-top: 10px;
    }
    .aside .long-copy {
        margin-bottom: 20px;
    }
    
    .box {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 5%;
    }
    .box .col-sm-6 {
        max-width: 700%;
    }
    .ability {
        display: flex;
        align-items: baseline;
        justify-content: baseline;
        margin-bottom: 10%;
    }

        
    .ability img {
        width: 180px;
        height: 150px;
    }

    .city-details:last-of-type {
        margin-bottom: 10%;
    }

    .main-form {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        margin: 0  0 5% 0%;
    }
    
    .form-field {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }
    .description {
        padding-left: 0;
        padding-right: 0;
    }
    label {
        padding-left: 0;
        
    }

    label,
    input[type=text],
    input[type=email],
    input[type=password],
    select,
    textarea {
        width: 100%;
    }
    .form-field .btn {
        margin-top: 0;
        padding: 8px 15px;
        font-size: 70%;
    }
    
}
@media screen and (max-width: 680px) {
            
    .content {
        margin: auto 5px;
        width: 150px;
    }
    .content-carousel {
        width: 100%;
        height: 100px;
        position: absolute;
        float: right;
        animation: rotar 15s infinite linear;
        transform-style: preserve-3d;
    }
    .content-carousel figure .img-caption {
        font-size: 12px;
    }
}
  
@media screen and (max-width: 575px) { 
    
    .box-search .search-icon,
    .box-search .col-gif{ display: none; }

    .box-search .search-house {
        display: block; 
        width: 100%;
    }
     

    #search {
        width: 100%;
    }

    .header { 
        display: flex;
        justify-content:center;
        align-items: center;
        height: 100px;
    }
    
}

/* Small phones: from 0 to 500px */
@media screen and (max-width: 500px) {
    
.header { 
    display: flex;
    justify-content:center;
    align-items: center;
    height: 150px;
}

    .logo-first {
        height: 150px;
        width: 150px;
        margin: 10% 0 0 0 ;
    }
    .header h1 {
        margin: 0 0;
        padding: 0;
    }

    h1 { font-size: 130%; }
    
    h2 { font-size: 100%; }

    h3 { font-size: 60%; }
       
    
    .box-search .search-icon,
    .box-search .col-gif{ display: none; }

    .box-search .search-house { display: block; }
       
   
    .long-copy {
        font-size: 60%;
        margin-bottom: 10PX;
    }

    .card .food ul figure {
        width: 20%;
        margin: 0 auto;
    }
    

    .card .food ul figure img {
        width: 60%;
    }
    
    .ability {
        display: flex;
        align-items: baseline;
        justify-content: baseline;
        margin-bottom: 10%;
    }
    
    .ability img {
        width: 100px;
        height: 100px;
    }
    
    .city-details img { 
        width: 60%;
        height: auto;
        margin: 10px auto;
    }
    
    .city-heading h2 {
        text-align: center;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .section-peoples .people-heading,
    .sponsors .sponsor-heading,
    .workdone-heading{
        text-align: center;
        margin: 10% 0px;
     }
    .team-box ul li a {
        font-size: 60%;
    }

    
    .main-form {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        margin: 0  0 5% 0;
    }
    

    .form-field {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        color: rgb(108, 101, 1);
    }
        
        label,
    input[type=text],
    input[type=email],
    input[type=password],
    select,
    textarea {
        width: 100%;
    }
    .form-field .btn {
        margin-top: 0;
        padding: 5px 10px;
        font-size: 70%;
    }

}

@media screen and (max-width: 425px) {

    .aside .captain-img {
        width: 100px;
        height: 100px;
    }
}
















